<div class="flexslider"

	data-animation="{settings.animation}"
	data-direction="{settings.direction}"
	data-reverse="{settings.reverse}"
	data-animationloop="{settings.animationLoop}"
	data-smoothheight="{settings.smoothHeight}"
	data-startat="{settings.startAt}"
	data-slideshow="{settings.slideshow}"
	data-slideshowspeed="{settings.slideshowSpeed}"
	data-animationspeed="{settings.animationSpeed}"
	data-initdelay="{settings.initDelay}"
	data-randomize="{settings.randomize}"
	
	data-pauseonaction="{settings.pauseOnAction}"
	data-pauseonhover="{settings.pauseOnHover}"
	data-video="{settings.video}"

	data-prevtext="{f:translate(key:'controls.previous')}"
	data-nexttext="{f:translate(key:'controls.next')}"

>
	<f:format.raw>{content}</f:format.raw>
</div>